In [2]:
import pandas as pd
import numpy as np

In [16]:
#The data sets have been opend in excel and slightly changed from the original
population_density_df = pd.read_csv("population-density.csv")
earth_quake_df_ori = pd.read_csv("earthquakes_1999-2020.csv",sep="\t",header = 0)
Income_p0p50_share_df_2000_2009 = pd.read_csv("Income_Data_2000_2009.csv",sep="\t",header = 0)
Income_p0p50_share_df_2010_2021 = pd.read_csv("Income_Data_2009_2021.csv",sep="\t",header = 0)

In [4]:
earth_quake_df_ori

,Year,Mo,Dy,Hr,Mn,Sec,Tsu,Vol,Country,Location Name,...,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Houses Damaged,Total Houses Damaged Description,Total Houses Damaged Description.1
0,1999,1,25,18.0,19.0,16.8,NaN,NaN,"COLOMBIA: ARMENIA, CALARCA, PEREIRA, CALDAS, ...","COLOMBIA: ARMENIA, CALARCA, PEREIRA, CALDAS, ...",...,3.0,4750.0,4.0,1857.366,4.0,NaN,4.0,NaN,NaN,NaN
1,1999,2,1,23.0,57.0,52.9,NaN,NaN,"RUSSIA: MAKHACHKALA, DAGESTAN","RUSSIA: MAKHACHKALA, DAGESTAN",...,NaN,NaN,NaN,0.900,1.0,NaN,NaN,NaN,NaN,NaN
2,1999,2,2,13.0,45.0,16.8,NaN,NaN,"SPAIN: MULA, PUEBLA DE MULA","SPAIN: MULA, PUEBLA DE MULA",...,NaN,20.0,1.0,44.004,4.0,NaN,NaN,NaN,3.0,3.0
3,1999,2,11,14.0,8.0,51.6,NaN,NaN,"AFGHANISTAN: LOWGAR, VARDAK, KABUL","AFGHANISTAN: LOWGAR, VARDAK, KABUL",...,NaN,500.0,3.0,NaN,3.0,7000.0,4.0,NaN,NaN,NaN
4,1999,3,4,5.0,38.0,26.5,NaN,NaN,IRAN: SOUTHERN: KERMAN,IRAN: SOUTHERN: KERMAN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,517.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283,2021,10,12,9.0,24.0,3.0,5817.0,NaN,GREECE: CRETE,GREECE: CRETE,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0
1284,2021,10,15,20.0,18.0,21.0,NaN,NaN,"INDONESIA: BALI: KARANGASEM, BANGLI","INDONESIA: BALI: KARANGASEM, BANGLI",...,NaN,82.0,2.0,NaN,3.0,366.0,3.0,524.0,3.0,3.0
1285,2021,11,14,12.0,8.0,38.0,NaN,NaN,IRAN: HORMOZGAN PROVINCE,IRAN: HORMOZGAN PROVINCE,...,NaN,NaN,2.0,165.000,4.0,NaN,NaN,NaN,2.0,2.0
1286,2021,11,28,10.0,52.0,13.0,NaN,NaN,PERU: AMAZONAS,PERU: AMAZONAS,...,NaN,3.0,1.0,NaN,3.0,448.0,3.0,1699.0,4.0,4.0
1287,2021,12,14,3.0,20.0,24.0,5822.0,NaN,INDONESIA: FLORES REGION,INDONESIA: FLORES REGION,...,NaN,1.0,1.0,NaN,2.0,41.0,1.0,200.0,3.0,3.0

In [5]:
earth_quake_df = earth_quake_df_ori

In [6]:
# Here new county and specific region columns were created by string splitting
earth_quake_df['Country'] = earth_quake_df['Country'].str.split(':', 1).str[0]
earth_quake_df['Region'] = earth_quake_df['Location Name'].str.split(',').str[-1]
earth_quake_df['Region'] = earth_quake_df['Region'].str.split(':').str[-1]
#del earth_quake_df["Location Name"]

In [7]:
earth_quake_df

,Year,Mo,Dy,Hr,Mn,Sec,Tsu,Vol,Country,Location Name,...,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Houses Damaged,Total Houses Damaged Description,Total Houses Damaged Description.1,Region
0,1999,1,25,18.0,19.0,16.8,NaN,NaN,COLOMBIA,"COLOMBIA: ARMENIA, CALARCA, PEREIRA, CALDAS, ...",...,4750.0,4.0,1857.366,4.0,NaN,4.0,NaN,NaN,NaN,HUILA
1,1999,2,1,23.0,57.0,52.9,NaN,NaN,RUSSIA,"RUSSIA: MAKHACHKALA, DAGESTAN",...,NaN,NaN,0.900,1.0,NaN,NaN,NaN,NaN,NaN,DAGESTAN
2,1999,2,2,13.0,45.0,16.8,NaN,NaN,SPAIN,"SPAIN: MULA, PUEBLA DE MULA",...,20.0,1.0,44.004,4.0,NaN,NaN,NaN,3.0,3.0,PUEBLA DE MULA
3,1999,2,11,14.0,8.0,51.6,NaN,NaN,AFGHANISTAN,"AFGHANISTAN: LOWGAR, VARDAK, KABUL",...,500.0,3.0,NaN,3.0,7000.0,4.0,NaN,NaN,NaN,KABUL
4,1999,3,4,5.0,38.0,26.5,NaN,NaN,IRAN,IRAN: SOUTHERN: KERMAN,...,NaN,NaN,NaN,2.0,NaN,NaN,517.0,3.0,3.0,KERMAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283,2021,10,12,9.0,24.0,3.0,5817.0,NaN,GREECE,GREECE: CRETE,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0,CRETE
1284,2021,10,15,20.0,18.0,21.0,NaN,NaN,INDONESIA,"INDONESIA: BALI: KARANGASEM, BANGLI",...,82.0,2.0,NaN,3.0,366.0,3.0,524.0,3.0,3.0,BANGLI
1285,2021,11,14,12.0,8.0,38.0,NaN,NaN,IRAN,IRAN: HORMOZGAN PROVINCE,...,NaN,2.0,165.000,4.0,NaN,NaN,NaN,2.0,2.0,HORMOZGAN PROVINCE
1286,2021,11,28,10.0,52.0,13.0,NaN,NaN,PERU,PERU: AMAZONAS,...,3.0,1.0,NaN,3.0,448.0,3.0,1699.0,4.0,4.0,AMAZONAS
1287,2021,12,14,3.0,20.0,24.0,5822.0,NaN,INDONESIA,INDONESIA: FLORES REGION,...,1.0,1.0,NaN,2.0,41.0,1.0,200.0,3.0,3.0,FLORES REGION

In [8]:
Income_p0p50_share_df_2000_2009

          Country  Share  Year  Average Income
0     Afghanistan   pall  2000       1755.4281
1     Afghanistan   pall  2001       1640.3868
2     Afghanistan   pall  2002       2096.7658
3     Afghanistan   pall  2003       2414.1680
4     Afghanistan   pall  2004       2374.5369
...           ...    ...   ...             ...
5675     Zimbabwe  p0p50  2005          0.1181
5676     Zimbabwe  p0p50  2006          0.1181
5677     Zimbabwe  p0p50  2007          0.1181
5678     Zimbabwe  p0p50  2008          0.1181
5679     Zimbabwe  p0p50  2009          0.1181

[5680 rows x 4 columns]

In [9]:
population_density_df

            Entity Code   Year  Population density
0      Afghanistan  AFG -10000            0.022595
1      Afghanistan  AFG  -9000            0.031285
2      Afghanistan  AFG  -8000            0.043318
3      Afghanistan  AFG  -7000            0.059979
4      Afghanistan  AFG  -6000            0.083047
...            ...  ...    ...                 ...
76675     Zimbabwe  ZWE   2096           91.688260
76676     Zimbabwe  ZWE   2097           91.812850
76677     Zimbabwe  ZWE   2098           91.925230
76678     Zimbabwe  ZWE   2099           92.024760
76679     Zimbabwe  ZWE   2100           92.111700

[76680 rows x 4 columns]

In [17]:
# change to upperchase letters such that compatible with earth_quake_df
Income_p0p50_share_df_2000_2009["Country"] = Income_p0p50_share_df_2000_2009["Country"].str.upper()
Income_p0p50_share_df_2010_2021["Country"] = Income_p0p50_share_df_2010_2021["Country"].str.upper()
population_density_df["Country"] = population_density_df["Entity"].str.upper()
del population_density_df["Entity"]
del population_density_df["Code"]
Income_df_2000_2009 = Income_p0p50_share_df_2000_2009[Income_p0p50_share_df_2000_2009["Share"] == "pall"]
Income_df_2010_2021 = Income_p0p50_share_df_2010_2021[Income_p0p50_share_df_2010_2021["Share"] == "pall"]
Share_df_2000_2009 = Income_p0p50_share_df_2000_2009[Income_p0p50_share_df_2000_2009["Share"] == "p0p50"]
Share_df_2010_2021 = Income_p0p50_share_df_2010_2021[Income_p0p50_share_df_2010_2021["Share"] == "p0p50"]
del Income_df_2000_2009["Share"]
del Income_df_2010_2021["Share"]
Income_df_2000_2020 = pd.concat([Income_df_2000_2009, Income_df_2010_2021])
Share_df_2000_2020 = pd.concat([Share_df_2000_2009,Share_df_2010_2021])
Share_df_2000_2020["p0p50_share"] = Share_df_2000_2020["Average Income"]
del Share_df_2000_2020["Average Income"]
del Share_df_2000_2020["Share"]

In [21]:
master_df = pd.merge(earth_quake_df, Income_df_2000_2020, on=["Country","Year"])
master_df = pd.merge(master_df, Share_df_2000_2020, on=["Country","Year"])
master_df = pd.merge(master_df,population_density_df,on =["Country", "Year"])
master_df = master_df.rename(columns={"Population density": "Population density national"})

In [22]:
master_df

,Year,Mo,Dy,Hr,Mn,Sec,Tsu,Vol,Country,Location Name,...,Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Houses Damaged,Total Houses Damaged Description,Total Houses Damaged Description.1,Region,Average Income,p0p50_share,Population density national
0,2000,1,11,23.0,43.0,56.4,NaN,NaN,CHINA,CHINA: LIAONING PROVINCE,...,3.0,3600.0,4.0,8800.0,4.0,4.0,LIAONING PROVINCE,4836.4401,0.1737,134.647500
1,2000,1,14,23.0,37.0,7.8,NaN,NaN,CHINA,CHINA: YUNNAN PROVINCE: YAOAN COUNTY,...,4.0,41000.0,4.0,NaN,NaN,NaN,YAOAN COUNTY,4836.4401,0.1737,134.647500
2,2000,6,7,21.0,46.0,55.9,NaN,NaN,CHINA,CHINA: YUNNAN PROVINCE: LIUKU; MYANMAR,...,1.0,NaN,2.0,NaN,NaN,NaN,LIUKU; MYANMAR,4836.4401,0.1737,134.647500
3,2000,8,21,13.0,25.0,44.5,NaN,NaN,CHINA,CHINA: YUNNAN PROVINCE: WUDING,...,4.0,NaN,NaN,NaN,NaN,NaN,WUDING,4836.4401,0.1737,134.647500
4,2000,2,2,22.0,58.0,1.5,NaN,NaN,IRAN,"IRAN: BARDASKAN, KASHMAR",...,2.0,100.0,2.0,300.0,3.0,3.0,KASHMAR,13549.8134,0.1232,40.397152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1025,2020,6,7,5.0,27.0,22.0,NaN,NaN,PERU,PERU: COAST: CHIMBOTE,...,NaN,NaN,NaN,NaN,NaN,NaN,CHIMBOTE,11865.0324,0.0572,26.019350
1026,2020,6,23,15.0,29.0,5.0,5751.0,NaN,MEXICO,MEXICO: OAXACA,...,4.0,NaN,NaN,8123.0,4.0,4.0,OAXACA,17509.5857,0.0602,64.815605
1027,2020,7,17,2.0,50.0,23.0,NaN,NaN,PAPUA NEW GUINEA,"PAPUA NEW GUINEA: MOROBE, ORO",...,1.0,NaN,NaN,12.0,1.0,1.0,ORO,4920.7312,0.1291,21.529040
1028,2020,8,18,0.0,3.0,48.0,NaN,NaN,PHILIPPINES,PHILIPPINES: MASBATE,...,1.0,138.0,3.0,1167.0,4.0,4.0,MASBATE,9596.5646,0.1435,376.265170
1029,2020,12,27,21.0,39.0,14.0,5760.0,NaN,CHILE,CHILE: OFF COAST CENTRAL,...,NaN,NaN,NaN,NaN,NaN,NaN,OFF COAST CENTRAL,21437.3544,0.0678,25.957615